@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>Hoşgeldiniz sayın <span style="color: red;">@ViewBag.Username</span>!</h1>
    <h2>Lütfen yukarıdaki menüden yapmak istediğiniz işlemi seçin</h2>
</div>