@model List<GenreDTO>
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    
    <div class="row">
        @foreach (var genre in Model)
        {
            <div class="col-md-4 mb-4">

                

                <div class="card text-center mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@genre.GenreName</h5>
                        <p class="card-text">@genre.Description</p>
                        <a href="@Url.Action("List", "Genre", new { id = genre.Id })" class="btn btn-primary">Listele</a>
                    </div>
                </div>



            </div>
        }

    </div>

</div>